body {
  margin: 0;
  padding: 0;
  background-color: lightcoral;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.welcome {
  height: 30%;
  width: 100%;
  background-color: lightpink;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.addProduct{
  height: 80px;
  width: 200px;
  background-color: gold;

}
.mianButton button{
  color: black;
  font-family: fantasy;
  font-size: 30px;
  border: darkmagenta 5px double;
}

.mianButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
