

.welcome {
  height: 30%;
  width: 100%;
  background-color: lightpink;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.addProduct{
  height: 80px;
  width: 200px;
  background-color: gold;

}
.mianButton button{
  color: black;
  font-family: fantasy;
  font-size: 30px;
  border: darkmagenta 5px double;
}

.mianButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
