*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: loew;
    src: url(./Fontspring-DEMO-loew-black.otf);
}

#task{
    font-family: loew;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);
}


.pikachu{
    height: 90%;
    width: 90%;
    background: linear-gradient(to right, #fbc50b 62%, #fae7b4 40%);
    margin: 20px;
    border-radius: 20px;
}

#logo{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 1%;
    left: 2%;
}
#pikachu{
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}

#three-line{
    height: 50px;
    position: absolute;
    top: 7%;
    right: 5%;
}
#pokeball{
    height: 400px;
}

