*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

div{
    margin: 10000px;
}

.pikachu{
    height: 500px;
    width: 800px;
    background-color: #F6CF57;
   
    margin: 20px;
    border-radius: 20px;
}
